
/* FARBEN */
/*
Blau: #1F4E8C
Dunkelgrau: #3D3F45
Hellgrau: #E5E5E5
Rot: #A62C21
*/

/* mobile first version */

@import "navbar.css";

@import "header.css";

@import "footer.css";

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    background-color: #E5E5E5;
}
  
* {
box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3% 7% 69% 17% 5%;
    grid-template-areas: 
        "nav"
        "hd" 
        "main"
        "sb"
        "ft";
}

a:link,
a:visited,
a:hover, 
a:active {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;    
}

section#content {
    grid-area: main;
    padding-top: 30px;
}

#content > article {
    border: 2px solid #000;
    box-shadow: 5px 7px black;
    margin: 20px;
    padding: 20px;
}

#content > article > .shortBio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#content > article div.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #3D3F45;
    color: white;
}

#content p:first-child {
    font-weight: bold;
}

#content > article div.author > p:nth-child(3) {
    font-style: italic;
}

#content > article div.author > p:nth-child(4) {
    text-decoration: underline;
}

#content article .avatar1 {
    background: url("../img/avatar1.png") no-repeat center;
    background-size: contain;
    border: 1px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#content article .avatar2 {
    background: url("../img/avatar2.png") no-repeat center;
    background-size: contain;
    border: 1px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#content article .avatar3 {
    background: url("../img/avatar3.png") no-repeat center;
    background-size: contain;
    border: 1px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#content > article > .links {
    display: flex;
}

#content > article > .links > button {
    height: 45px;
    border-radius: 10px;
    background-color: #A62C21;
    margin: 20px;
}

#content button > a:link,
#content button > a:visited,
#content button > a:hover,
#content button > a:active {
    font-size: 15px;
}

section#sidebar {
    grid-area: sb;
    margin: 20px;
    padding: 30px;
}

#sidebar > #about {
    border: 2px solid black;
    box-shadow: 5px 7px black;
    background-color: gray; 
    padding: 10px;
}

#sidebar > #archive, 
#sidebar > #socialMedias {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 2px solid black;
    box-shadow: 5px 7px black;
    background-color: gray;
}

#sidebar h3 {
    font-size: 25px;
    padding-left: 10px;
}

#sidebar a:link,
#sidebar a:visited,
#sidebar a:hover,
#sidebar a:active {
    font-size: 15px;
}


@media (min-width: 480px) {
    #container {
        grid-template-rows: 5% 10% 57% 25% 6%;     
    }

    #hd > #headerImg > .image {
        min-height: 200px;
    }

    a:link,
    a:visited,
    a:hover, 
    a:active {
        padding: 20px;      
    }

    #content > article > .shortBio {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    #container {
        grid-template-rows: 5% 12% 57% 25% 6%;     
    }

    #content > article {
        margin: 20px auto;
        max-width: 700px;
    }
}

#sidebar > #about,
#sidebar > #archive, 
#sidebar > #socialMedias {
    margin: 20px auto;
    max-width: 650px;
}

@media (min-width: 1200px) {
    #container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 8% 21% 75% 10%;
        grid-template-areas: 
            "nav nav"
            "hd hd" 
            "main sb"
            "ft ft";  
    }
}

@media (min-width: 1600px) {
    #container {
        grid-template-rows: 8% 25% 70% 10%; 
    }
}

@media (min-width: 2000px) {
    #container {
        grid-template-rows: 8% 30% 65% 10%; 
    }
}