/* FARBEN */
/*
blue: #1F4E8C
darkgrey: #3D3F45
grey: #E5E5E5
red: #A62C21
*/

/* mobile first version */

@import "navbar.css";

@import "header.css";

@import "footer.css";

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    background-color: #E5E5E5;
}
  
* {
box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 5% 10% 1fr 8%;
    grid-template-areas: 
        "nav"
        "hd" 
        "main"
        "ft";
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;    
}

section#content {
    grid-area: main;
    margin-top: 50px; 
}

article {
    border: 2px black solid;
    box-shadow: 5px 10px;
    margin: 50px;
    padding: 20px; 
    max-height: 200px;
}

article > p:nth-child(3) {
    margin-bottom: 15px;
}
#content .button {
    background-color: #A62C21;
    border-radius: 7px;
    height: 35px;
}

section#content a:link,
section#content a:visited,
section#content a:hover,
section#content a:active {
    font-size: 12px;
    color: #000;
    text-align: center;
}


@media (min-width: 480px) {
    
    #container {
        grid-template-rows: 8% 10% 1fr 9%;
    }

    #hd > #headerImg > .image {
        min-height: 200px;
    }

    a:link, a:visited, a:hover, a:active {
        padding: 20px;        
    }
}

@media (min-width: 768px) {

    #container {
        grid-template-rows: 10% 25% 1fr 12%;
    }
       
    section#content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    article {
        margin: 30px;  
    }
}

@media (min-width: 1200px) {
    
    #container {
        grid-template-rows: 12% 25% 75% 15%;
    }   
}

@media (min-width: 1400px) {
    
    #container {
        grid-template-rows: 12% 30% 75% 15%;
    }   
}

@media (min-width: 1400px) {
    
    #container {
        grid-template-rows: 12% 30% 75% 15%;
    }   
}

@media (min-width: 1920px) {
    
    #container {
        grid-template-rows: 12% 37% 75% 15%;
    }   
}